# This notebook is to read the CLAGNs from the literature with their redshifts and types
Last edit: Oct 4th, 2023

In [17]:
import pandas as pd
import numpy as np
from astropy.coordinates import SkyCoord
import astropy.units as u
from astropy import table
from astropy.table import Table, join, join_skycoord
from astroquery.ipac.ned import Ned
from astroquery.vizier import Vizier
from astroquery.simbad import Simbad
import sys
sys.path.append('../code/')
from sample_selection import clean_sample

In [2]:
# LaMassa 2015, Macleod 2016
macleod_CSQ = Table.read('https://academic.oup.com/mnras/article/457/1/389/989199', htmldict={'table_id': 5}, format='ascii.html')
coord_str = macleod_CSQ['Name\n            .'][0]
test_str = coord_str[0:2]+ " "+ coord_str[2:4]+ " " + coord_str[4:9] + " " + coord_str[9:12] + " " + coord_str[12:14]+ " " + coord_str[14:]
c = SkyCoord(test_str, unit=(u.hourangle, u.deg))
d={'ra':[c.ra.degree],'dec':[c.dec.degree],'redshift':[macleod_CSQ['z\n            .'][0]],'turnon':[1]}

k=1
ton,toff = 1,0
for i in range(1,len(macleod_CSQ)):
    coord_str = macleod_CSQ['Name\n            .'][i]
    test_str = coord_str[0:2]+ " "+ coord_str[2:4]+ " " + coord_str[4:9] + " " + coord_str[9:12] + " " + coord_str[12:14]+ " " + coord_str[14:]
    c = SkyCoord(test_str, unit=(u.hourangle, u.deg))
    d['ra'].append(c.ra.degree)
    d['dec'].append(c.dec.degree)
    d['redshift'].append(macleod_CSQ['z\n            .'][i])
    label = macleod_CSQ['BEL\n            .'][i]
    if label=='Appear':
        d['turnon'].append(1)
        ton+=1
    else:
        d['turnon'].append(0)  
        toff+=1
    k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

10 added, turn_on= 4, turn_off=6

In [3]:
# Ruan 2016
ruan_CSQ = Ned.query_refcode('2016ApJ...826..188R')
ruan_coords = [SkyCoord(ra, dec, frame='icrs', unit='deg') for ra, dec in zip(ruan_CSQ['RA'], ruan_CSQ['DEC'])]
k=0
ton,toff = 0,0

for i in range(len(ruan_CSQ['RA'])):
    coord = SkyCoord(ruan_coords[i], unit=(u.hourangle, u.deg))
    d['ra'].append(coord.ra.degree)
    d['dec'].append(coord.dec.degree)
    d['redshift'].append(ruan_CSQ['Redshift'][i])
    d['turnon'].append(0)
    k+=1
    toff+=1

print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

3 added, turn_on= 0, turn_off=3

In [4]:
#Yang 2018
CLQ = np.genfromtxt('yangg.cat', dtype=[('SDSSid', 'S18'), ('RA', 'S18'), ('DEC', 'S18'),
                                        ('Redshift','<f8'),('Transition','S18')])
k=0
ton,toff = 0,0
for i in range(len(CLQ['RA'])):
    ra = CLQ['RA'][i].decode('utf8')
    dec = CLQ['DEC'][i].decode('utf8')    
    c = SkyCoord(ra+dec, unit=(u.hourangle, u.deg))
    d['ra'].append(c.ra.degree)
    d['dec'].append(c.dec.degree)
    d['redshift'].append(CLQ['Redshift'][i])
    if CLQ['Transition'][i]==b'Turn-on':
        d['turnon'].append(1)
        ton+=1
    else:
        d['turnon'].append(0)
        toff+=1

    k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

26 added, turn_on= 16, turn_off=10

In [5]:
# MacLeod2019
a = np.genfromtxt('table2.dat', dtype=[('SDSSid', 'S18'), ('redshift', '<f8'), ('morphology', '<i8'),
                                      ('mjd1', 'S24'), ('mag1', '<f8'),('dmag1', '<f8'),
                                      ('mjd2', 'S24'), ('mag2', '<f8'),('dmag2', '<f8'),
                                      ('mjds', 'S24'), ('mjdps1', 'S24'), ('magps', '<f8'),('dmagps', '<f8'),
                                       ('mjdps2', 'S24'), ('tel', 'S24'), ('clq', '<i8'),('nsigma', '<f8')])
k=0
ton,toff = 0,0

for i in range(len(a['SDSSid'])):
    coord_str = a['SDSSid'][i].decode('utf8')
    test_str = coord_str[0:2]+ " "+ coord_str[2:4]+ " " + coord_str[4:9] + " " + coord_str[9:12] + " " + coord_str[12:14]+ " " + coord_str[14:]
    coords = SkyCoord(test_str, unit=(u.hourangle, u.deg))
    
    d['ra'].append(coords.ra.degree)
    d['dec'].append(coords.dec.degree)
    d['redshift'].append(a['redshift'][i])

    if a['mag1'][i]>a['mag2'][i]:
        d['turnon'].append(1)
        ton+=1

    else:
        d['turnon'].append(0)
        toff+=1

    k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

262 added, turn_on= 17, turn_off=245

In [6]:
#Sheng 
CLQ = Ned.query_refcode('2020ApJ...889...46S') 
sheng_CLQ = CLQ[[0,1,2,3,5,6]]#need the first 3 objects in their table, 
sheng_coords = [SkyCoord(ra, dec, frame='icrs', unit='deg') for ra, dec in zip(sheng_CLQ['RA'], sheng_CLQ['DEC'])]
k=0
ton,toff = 0,0
for i in range(len(sheng_CLQ['Redshift'])):
    d['ra'].append(sheng_coords[i].ra.degree)
    d['dec'].append(sheng_coords[i].dec.degree)
    d['redshift'].append(sheng_CLQ['Redshift'][i])
    d['turnon'].append(0)
    k+=1
    toff+=1
    
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

6 added, turn_on= 0, turn_off=6

In [7]:
#green
Vizier.ROW_LIMIT = -1
catalog_list = Vizier.find_catalogs('J/ApJ/933/180')
catalogs = Vizier.get_catalogs(catalog_list.keys())
table2 = catalogs[0]
green_CSQ = table2.to_pandas()
k=0
ton,toff = 0,0

for i in range(len(green_CSQ)):
    if "CLQ" in (green_CSQ['Notes'][i]):

        d['ra'].append(green_CSQ['_RA'][i])
        d['dec'].append(green_CSQ['_DE'][i])
        d['redshift'].append(green_CSQ['zspec'][i])
        if "TurnOn" in (green_CSQ['Notes'][i]):
            d['turnon'].append(1)
            ton+=1
        else:
            d['turnon'].append(0)
            toff+=1
        k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

19 added, turn_on= 4, turn_off=15

In [8]:
#Lyu
CLQ = Ned.query_refcode('2022ApJ...927..227L') 
#CLQ['RA'], CLQ['DEC'], CLQ['Redshift'], CLQ['Type']

In [9]:
result_table = Simbad.query_bibobj('2022MNRAS.513L..57L')
result_table = result_table[[0,1,2,3]]  #pick the correct sources by hand
result_table.columns

k=0
ton,toff = 0,0
z = [0.1022,0.2375,0.1083,0.0849]
for i in range(len(result_table)):
    d['ra'].append(result_table['RA'][i])
    d['dec'].append(result_table['DEC'][i])
    d['redshift'].append(z[i])
    d['turnon'].append(1)
    ton+=1
    k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

4 added, turn_on= 4, turn_off=0

In [10]:
CLQ = Ned.query_refcode('2022MNRAS.511...54H') 
#CLQ.columns
ids = [2,3,5,6,10,11,12,13,16,20,24,25,27,28,14,26]
onoff = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0]
k=0
ton,toff = 0,0
for i,idd in enumerate(ids):    
    d['ra'].append(CLQ['RA'][idd])
    d['dec'].append(CLQ['DEC'][idd])
    d['redshift'].append(CLQ['Redshift'][idd])
    if onoff[i]==1:
        d['turnon'].append(1)
        ton+=1
    else:
        d['turnon'].append(0)
        toff+=1
    k+=1
print(str(k)+' added, turn_on=',str(ton)+', turn_off='+str(toff))

16 added, turn_on= 14, turn_off=2

In [16]:
df = pd.DataFrame(data=d)
df

             ra        dec  redshift  turnon
0      5.796083   0.588194  0.422000       1
1     29.990167   0.552889  0.312000       0
2     36.483625   0.507417  0.504000       0
3     36.717667  -0.654583  0.625000       0
4    150.584042  45.157583  0.400000       0
..          ...        ...       ...     ...
341    309.4995  -50.39264  0.063087       1
342   347.33004  -32.49933  0.054167       1
343   352.63454   -2.46251  0.033430       1
344     205.064   -4.89214  0.086537       0
345   311.68586   -1.36887  0.025171       0

[346 rows x 4 columns]

In [19]:

d1 = df[df['turnon']==1]
d0 = df[df['turnon']==0]
print(len(d1),len(d0))

coords1 = [SkyCoord(ra, dec, frame='icrs', unit='deg') for ra, dec in zip(d1['ra'], d1['dec'])]
labels1 = ['CL-On' for l in d1['ra']]
c1,l1 = clean_sample(coords1,labels1)

coords0 = [SkyCoord(ra, dec, frame='icrs', unit='deg') for ra, dec in zip(d0['ra'], d0['dec'])]
labels0 = ['CL-Off' for l in d0['ra']]
c0,l0 = clean_sample(coords0,labels0)

59 287
after duplicates removal, sample size: 54
after duplicates removal, sample size: 272

##